@model Test3.Models.Entities.Employee

<div>
    <hr />
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MiddleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DOB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MobileNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DesignationName)
            </th>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(model => model.Id)
            </td>
            <td>
                @Html.DisplayFor(model => model.FirstName)
            </td>
            <td>
                @Html.DisplayFor(model => model.MiddleName)
            </td>
            <td>
                @Html.DisplayFor(model => model.LastName)
            </td>
            <td>
                @Model.DOB.ToString("dd-MM-yyyy")
            </td>
            <td>
                @Html.DisplayFor(model => model.MobileNumber)
            </td>
            <td>
                @Html.DisplayFor(model => model.Address)
            </td>
            <td>
                @Html.DisplayFor(model => model.Salary)
            </td>
            <td>
                @Html.DisplayFor(model => model.DesignationName)
            </td>
        </tr>
    </table>
</div>
