@model IEnumerable<Test2.Models.Entities.Student>

<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(m => m.FullName)</th>
        <th>@Html.DisplayNameFor(m => m.DateOfBirth)</th>
        <th>@Html.DisplayNameFor(m => m.Address)</th>
        <th>Actions</th>
    </tr>

    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>@item.FullName</td>
                <td>@item.DateOfBirth.ToString("dd/MM/yyyy")</td>
                <td>@item.Address</td>
                <td>
                    <button class="btn btn-warning"
                            onclick="openEdit('@item.Id', '@item.FullName', '@item.DateOfBirth.ToString("yyyy-MM-dd")', '@item.Address')"
                            title="Edit Entry">
                        <span class="bi bi-pen-fill"></span>
                    </button>

                    <button class="btn btn-danger"
                            onclick="openDelete('@item.Id')"
                            title="Delete Entry">
                        <span class="bi bi-trash-fill"></span>
                    </button>
                </td>
            </tr>
        }
    }
</table>